<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{23,25}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,53},{39,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{49,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,63},{59,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{59,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{67,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe57aeb31a7110594bade5c8cebb51b6:c627da1b5f7050ef1c2b9c008cda48f2:9a6b6e03bb2f7ee660b9781489ce2d1f$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
